<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Cursos Full Stack</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src='main.js'></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <a class="navbar-brand" href="#">Cursos Full Stack</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/" class="btn btn-outline-dark">Início</a>
                <a class="nav-item nav-link" href="/cadastro" class="btn btn-outline-dark">Cadastro de Cursos</a>
                <a class="nav-item nav-link" href="/consultar-cep" class="btn btn-outline-dark">Consultar CEP</a>
                <a class="nav-item nav-link" href="/frontend" class="btn btn-outline-dark">Cursos Frontend</a>
                <a class="nav-item nav-link" href="/backend" class="btn btn-outline-dark">Cursos Backend</a>
              </div>
            </div>
          </nav>
          <main>
            <div class="d-flex justify-content-center">
                <img src="https://image.freepik.com/vetores-gratis/grupo-de-alunos-assistindo-online-webinar_74855-5514.jpg"/>
            </div>
          </main>
          <footer class="bg-light text-center text-lg-start">
            
            <div class="container p-4">
            
              <div class="row">
                
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Footer Content</h5>
          
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                    voluptatem veniam, est atque cumque eum delectus sint!
                  </p>
                </div>
                
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Links</h5>
          
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#!" class="text-dark">Lorem ipsum</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark">Lorem ipsum</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark">Lorem ipsum</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark">Lorem ipsum</a>
                    </li>
                  </ul>
                </div>
               
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase mb-0">Links</h5>
          
                  <ul class="list-unstyled">
                    <li>
                      <a href="#!" class="text-dark">Lorem ipsum</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark">Lorem ipsum</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark">Lorem ipsum</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark">Lorem ipsum</a>
                    </li>
                  </ul>
                </div>                
              </div>             
            </div>            
          </footer>
    </div>
</div>
</body>
</html>